<!DOCTYPE html>
<html>
	<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Theme colors for different browsers -->
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.defaultThemeColor %>">
    <meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.defaultThemeColor %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.defaultThemeColor %>">

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.googleAnalytics.trackingId%>"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', '<%= htmlWebpackPlugin.options.googleAnalytics.trackingId%>');
		</script>
  <% } %>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
