

nav {
  width: 100vw;
  height: 2em;
  display: block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    li {
      float: left;
      padding: 8px;

      a {
        text-decoration: none;
        display: block;
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
