@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

@mixin font-theme-sans($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}

$nav-color: rgba(#eeeeee, 0.8);

main {
  @include font-theme-sans(300);
  min-height: calc(100vh - 18em);
  color: black;
  position: relative;
  z-index: 10;
}
